@import '../../styles/sass-includes';

.leaderboard {
  width: 100%;
}

.leaderboard ul {
  width: 100%;
  max-width: 380px;
  margin: 0 auto 6rem;
  max-height: calc(100vh - 339px);
  overflow: auto;
  padding: 0 30px;
  // media queries
  @include breakpoint($mobile-lg) {
    max-width: 100vw;
    margin: 0 auto 3rem;
    max-height: calc(100vh - 245px);
  }
}

.leaderboard__footer .btn {
  margin: 0 20px;
  // media queries
  @include breakpoint($mobile-lg) {
    font-size: 10px;
    margin: 0 12px;
  }
}

.leaderboard li {
  display: flex;
  align-items: center;
  text-align: left;
  margin: 16px 0;
}

@keyframes blink {
  to {
    opacity: 0.7;
  }
}

.leaderboard li.is-user {
  color: $blue;
  animation: blink 0.7s steps(2, start) infinite;

  &.not-top-ten {
    margin-top: 3rem;
  }
}

.leaderboard .title {
  margin-bottom: 2rem;
  color: $redshift;
}

.leaderboard .placement {
  width: 80px;
}

.leaderboard .name {
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.leaderboard .score {
  text-align: right;
  width: 130px;
}