.tetromino {
  text-align: center;
}

.piece {
  width: 12rem;
  margin: 2rem auto;
}

.square {
  border: 1px solid grey;
  width: 3rem;
  height: 3rem;
  float: left;
  box-sizing: border-box;
}

.filled {
  background: grey;
  border-color: #fff;
}


/* For Dev Testing */
.display {
  width: 15rem;
  text-align: center;
  margin: 2rem auto;
}

.controls {
  width: 100%;
}

button {
  display: block;
  float: left;
  padding: .5rem;
  width: 40%;
  margin: 1rem 5%;
}

select {
  display: block;
  height: 2rem;
  width: 100%;
  margin: .5rem auto;
}