.splash {
  width: 100vw;
  height: 100vh;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.splash > div {
  margin-bottom: 3rem;
}

.btn {
  background: white;
  padding: 15px 25px;
  color: black;
  cursor: pointer;
  border: 3px solid white;
}

.btn.btn--secondary {
  border: 0;
  color: white;
  background: transparent;
  margin-top: 40px;
  font-size: 13px;
}

.btn.btn--secondary:hover {
  color: #999;
}

.btn:hover {
  background: transparent;
  color: white;
}

h1 { font-size: 80px; }
h2 { font-size: 40px; }

.title {
  margin-bottom: 5rem;
}

.header {
  margin-bottom: 10px;
}

.options {
  margin-bottom: 40px;
}

.options li {
  display: inline-block;
  margin: 0 1rem;
  cursor: pointer;
  font-size: 12px;
}

.options li:hover {
  color: #aaa;
}

.options li.selected {
  color: #FF2953;
}

.footer {
  position: absolute;
  bottom: 3rem;
}
