@font-face {
  font-family: '8bit_wonder';
  src: url("../assets/fonts/8-bit_wonder.woff2") format("woff2"), url("../assets/fonts/8-bit_wonder.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
