$revereblue: #3E417A;
$revereblue-hover: #3890D1;

$reverered: #FE4B48;
$reverered-hover: #EC3C39;


$highlightblue: #51ACF0;
$highlightblue-hover: #3890D1;

$green: #90C015;
$green-hover: #88B416;

$darkblue: #20275F;
$mediumblue: #647185;
$lightblue: #AEB3C3;
$lighterblue: #F3F5F8;


$black: #3A3A3A;
$grey: #D8D9E1;
$lightgrey: #EBECF1;
$white: #FFFFFF;
